* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(39, 33, 25);
  text-align: center;
  color: white;
}
.heading {
  background-color: rgb(24, 87, 24);
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.calc {
  width: 30vw;
  margin: 0 auto 3rem auto;
  background-color: gray;
  border: 3px solid black;
  border-radius: 1rem;
  padding: 1.5rem;
}
.display {
  background-color: rgb(0, 36, 0);
  border: 5px ridge rgb(36, 36, 36);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1rem;
  font-size: 1.8rem;
}
.previous {
  font-size: 1rem;
  padding: 0.3rem;
  min-height: 2rem;
  opacity: 0.5;
  word-break: break-all;
  word-wrap: break-word;
}
.current {
  padding: 0.3rem;
  min-height: 2rem;
  word-break: break-all;
  word-wrap: break-word;
}
.surface {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 0;
}
.brand {
  width: 40%;
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}
.solar-screen {
  width: 40%;
  padding-top: 2rem;
  margin-left: auto;
  background-color: rgb(0, 17, 0);
  border: 3px ridge rgb(36, 36, 36);
}

.main-keys {
  display: grid;
  grid-template-areas:
    'AC divide multiply delete'
    'main main main subtract'
    'main main main plus'
    'main main main enter'
    'zero zero dot enter';
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.k-delete {
  grid-area: delete;
  background-color: rgb(66, 0, 0) !important;
}
.k-clear {
  grid-area: AC;
}
.k-divide {
  grid-area: divide;
}
.k-muliply {
  grid-area: multiply;
}
.k-subtract {
  grid-area: subtract;
}
.num-keys {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.k-plus {
  grid-area: plus;
}
.k-zero {
  grid-area: zero;
}
.k-dot {
  grid-area: dot;
}
.k-enter {
  grid-area: enter;
}

.key {
  background-color: rgb(14, 10, 10);
  border: 5px inset rgb(51, 40, 40);
  padding: 1rem;
}
.key:hover {
  background-color: black;
  transform: scale(1.1);
}


@media only screen and (max-width:760px) {
  .calc {
    width: 75vw;
  }
  .key{
    padding:0.5rem;
  }
}