* {
  padding: 0;
  margin: 0;
}
:root {
  text-align: center;
  color: white;
}
body {
  background-color: rgb(39, 33, 25);
}
.header {
  background-color: rgb(24, 87, 24);
  padding: 1rem;
  margin-bottom: 2rem;
}
.calc-container {
  width: 30vw;
  margin: auto;
}
.calc {
  background-color: gray;
  border: 3px solid black;
  border-radius: 1rem;
  padding: 1rem;
}
.display {
  background-color: rgb(0, 36, 0);
  height: 4rem;
  border: 5px ridge rgb(36, 36, 36);
  display: flex;
  justify-content:flex-end;
  align-items: center;
  padding-right: 1rem;
  font-size: 1.8em;
}
.surface {
  display: flex;
  justify-content: space-between;
}
.brand {
  height: 2rem;
  width: 40%;
  margin: 1rem;
  color:black;
  font-weight: bold;
  font-size:1.2em;
}
.solar-screen {
  height: 2rem;
  width: 40%;
  background-color: rgb(0, 17, 0);
  margin: 1rem;
  border: 3px ridge rgb(36, 36, 36);
}

.main-keys {
  display: grid;
  grid-template-areas:
    "AC divide multiply subtract"
    "main main main plus"
    "main main main plus"
    "main main main enter"
    "zero zero dot enter";
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 20rem;
}
.k-clear {
  grid-area: AC;
}
.k-divide {
  grid-area: divide;
}
.k-muliply {
  grid-area: multiply;
}
.k-subtract {
  grid-area: subtract;
}
.num-keys {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.k-plus {
  grid-area: plus;
}
.k-zero {
  grid-area: zero;
}
.k-dot {
  grid-area: dot;
}
.k-enter {
  grid-area: enter;
}

.key {
  background-color: rgb(14, 10, 10);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px ridge rgb(51, 40, 40);
}
.key:hover{
    background-color: black;
}
